# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc
.pipenv
poetry.lock
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Logs and databases
*.log
*.sqlite3
*.db

# Testing
.tox/
.nox/
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Miscellaneous
.DS_Store
Thumbs.db
